---
import CopySvg from "~/img/copy.svg";
import CheckSvg from "~/img/check.svg";

const toCopy = "npm create staticwind@latest"
const checkDuration = 1500;
const onClick = `navigator.clipboard.writeText("${toCopy}");this.dataset.c="t";clearTimeout(this.t);this.t=setTimeout(()=>this.dataset.c="f", ${checkDuration})`
---

<div class="flex items-center w-max border-1 border-white/10 bg-white/2 rounded-md p-2 xs:p-4">
    <code class="text-center max-xs:text-xs h-min mr-4 xs:mr-12">npm create staticwind@latest</code>
    <button
        data-c="f"
        onclick={onClick}
        class="group relative border-1 border-white/10 bg-white/2 hocus:border-white/20 hocus:bg-white/10 w-8 h-8 rounded-sm transition-colors duration-200"
    ><CopySvg class="absolute w-4 h-4 top-[7px] left-[7px] transition-[opacity,scale] group-data-[c=t]:scale-0 scale-100  group-data-[c=t]:opacity-0" /><CheckSvg class="absolute w-4 h-4 top-[7px] left-[7px] transition-[opacity,scale] group-data-[c=f]:scale-0 scale-125 group-data-[c=f]:opacity-0"/></button>
</div>