---
import Link from "./util/Link.astro";

const underlineStyle = "underline decoration-1 underline-offset-2 decoration-white/25 hocus:decoration-white transition-colors duration-200"
---

<footer class="border-t-1 border-t-white/10 p-4">
    <div class="min-[450px]:flex min-[450px]:justify-between max-w-2xl mx-auto">
        <p class="text-sm text-dim max-[450px]:mb-1">&copy; 2025 <Link href="https://nowl.dev" class={underlineStyle}>nowl.dev</Link></p>
        <p class="text-sm text-dim">Built with <Link href="https://astro.build" class={underlineStyle}>Astro</Link> & create-staticwind.</p>
    </div>
</footer>