---
import Link from "./util/Link.astro";
---

<footer class="border-t-1 border-t-white/10 p-4">
    <div class="min-[450px]:flex min-[450px]:justify-between max-w-2xl mx-auto">
        <p class="text-sm text-dim max-[450px]:mb-1">&copy; 2025 <Link href="https://nowl.dev">nowl.dev</Link></p>
        <p class="text-sm text-dim">Built with <Link href="https://astro.build">Astro</Link> & create-staticwind.</p>
    </div>
</footer>