---
import type { HTMLAttributes } from "astro/types";

interface Props extends Omit<HTMLAttributes<"a">, "target"> {
	href: string;
	noDefault?: boolean;
}

const defaultLinkStyle = "underline decoration-1 underline-offset-2 decoration-white/25 hocus:decoration-white transition-colors duration-200";

const props = Astro.props;

let outBound = false;

const href = Astro.props.href;
const hrefLead = href.charAt(0);
if (hrefLead != "." && hrefLead != "#" && hrefLead != "/") {
	outBound = true;

	if (props.rel) props.rel = props.rel + " noopener";
	else props.rel = "noopener";
}

if(!props.noDefault) {
	if(props.class)
		props.class += " " + defaultLinkStyle;
	else
		props.class = defaultLinkStyle;
}
---

<a
	{...outBound ? { target: "_blank" } : {}}
	{...Astro.props}>
	<slot /></a>